.mat-card {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}
.mat-card-title {
  padding-top: 20px;
  color: #666;
}

.separator {
  margin: 0 15px 0 15px;
  justify-self: center;
}
