
<div fxLayout="row" fxLayoutGap="1em" *ngIf="candidate" class="grid-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ candidate.firstName }} {{ candidate.lastName }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item>{{ candidate.firstName }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.lastName }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.male }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.birthDate }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.phoneNumber }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.street }} {{ candidate.number }} {{ candidate.floor }} {{ candidate.department }} </mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.zipCode }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.city }}</mat-list-item>
        <hr class="separator">
        <mat-list-item>{{ candidate.state }}</mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<app-candidate-detail-jobs-grid [userId]="candidate.id"></app-candidate-detail-jobs-grid>
