.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 180px;
  min-width: 180px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.mat-nav-list {

  .mat-list-item {
    color: white;
    font-size: 13px;
    padding-left: 0;
    height: auto;
    line-height: 42px;
    .mat-icon {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 7px;
      font-size: 13px;
    }
  }
  .mat-list-item:hover{
    color: #209e91;
    .mat-icon {
      padding-left: 0.5em;
      padding-right: 0.5em;
      padding-top: 7px;
      font-size: 13px;
    }
  }
  .active-list-item {
   background-color: #209e91;
  }
  .active-list-item:hover {
    color: white;
  }
}

.questions-section {
  font-size: 13px;
  position: absolute;
  right: 10px;
  font-weight:300;
}

.questions-section a{
  color: rgb(32, 158, 145);
}
.mat-drawer {
  background-color: #1C2B36;
  color: white;
}

.app-name {
  width: 150px;
  color: #fff;
  display: block;
  font-size: 24px;
  font-family: Roboto,sans-serif;
  white-space: nowrap;
  float: left;
  line-height: 60px;
}
.data-boss-prefix {
  color: #209e91;
}

