@import '~@angular/material/theming';
@import 'src/theme.scss';

.fixed-header {
  top: 0;
  position: fixed;
  z-index: 999;
}

.landing-container {
  height: 100%;
}

.landing-content {
  padding-top: 60px;

  header {

    padding-top: 60px;

    text-align: center;

    h1 {
      font-size: 56px;
      font-weight: 300;
      line-height: 56px;
      margin: 15px 5px;
    }

    h2 {
      font-size: 18px;
      font-weight: 300;
      line-height: 28px;
      margin: 15px 0 25px;
    }

    start {
      text-align: center;
      margin: 60px 0;
    }
  }
}
