
<div class="landing-container">
  <div class="unauthorized-content bgimg">

    <div class="auth-block">
      <h1>Ingrese a Databoss</h1>
      <!--      <h2>Herramientas para el una empresa exitosa!.</h2>-->

      <div class="login">
        <form [formGroup]="loginForm" (ngSubmit)="login()" fxLayout="column">

          <div fxLayout="row" layout-align=" center">
            <label id="username_label" for="user" fxFlex="15%" >Email</label>
            <input matInput fxFlex="85%" name="username" type="text" id="user" formControlName="username" placeholder="Nombre de Usuario" autocomplete="off" >
          </div>
          <div fxLayout="row" layout-align=" center">
            <label id="password_label" for="password" fxFlex="15%" >Clave</label>
            <input matInput fxFlex="85%" name="password" type="password" id="password" placeholder="Clave" autocomplete="off" formControlName="password" required >
          </div>
          <div fxLayout="row" layout-align=" center">
            <div fxFlex="15%"></div>
            <button mat-raised-button color="primary" type="submit" id="submit_button" flex [disabled]="!loginForm.valid">Ingresar</button>
            <a href="" class="forgot-pass">Forgot password?</a>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
